<!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
    </head>

    <body>
        <h1>Registro de usuario</h1>
        <form action="/signup" method="POST">
            <div>
                <input name="user" placeholder="Usuario" type="text" required>
            </div>
            <div>
                <input name="password" placeholder="Contraseña" type="password" required></input>
            </div>
            <div>
                <input name="confirm_password" placeholder="Confirme Contraseña" type="password" required></input>
            </div>            
            <div>
                <input name="idJugador" placeholder="Cedula Identidad" type="text" required></input>
            </div>      
            <div>
                <input name="email" placeholder="Correo Electronico" type="text" required></input>
            </div>                   
            <div>
                <input type="submit" value="Enviar">
            </div>
        </form>
    </body>
</html>